body{
    background-color: #F4EEFF;
}

.container{
  padding: 1% 15%;
  font-family: 'Montserrat', sans-serif;
}

.fit-image{
  width: 100%;
  height: 10px; /* only if you want fixed height */
  border-radius: 3px;
}



